{% load cache static %}

<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Django-Docker Template{% endblock %}</title>

    {% block open_graph %}
      <!-- Open Graph data -->
    {% endblock %}
    
    {% block twitter_card %}
    <!-- Twitter Card data -->
    {% endblock %}

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/img/favicon.ico' %}"> -->

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i" rel="stylesheet"> -->

    <!-- Compress this { compress css %} -->
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">

    <!-- Override this block in individual templates in order to add stylesheets on a template by template basis -->
    {% block extra_css %}{% endblock %}

  </head>

  <body class="main">
    {% block top_nav %}{% include 'includes/top_nav.html' %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% include 'includes/footer.html' %}{% endblock %}

    <!-- External javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Compress this { compress css %} -->
    {% comment %}
    <script src="{% static 'app/js/vendor/bootstrap/components/dropdown.js' %}"></script>
    <script src="{% static 'app/js/vendor/magnific_popup.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
    <script src="{% static 'app/js/validation.js' %}"></script>
    <script src="{% static 'app/js/vendor/jquery.form.js' %}"></script>
    <script src="{% static 'app/js/vendor/jquery.validate.min.js' %}"></script>
    {% endcomment %}

    <!-- Override this block in individual templates in order to add javascript on a template by template basis -->
    {% block extra_js %}{% endblock %}

  </body>
</html>